<div class="main">


    <div   id="pointer"  class="hide"> LATEST NEWS</div>
   
    <div class="latestnews_set">
    <div class="latestnews_container">
       <ul style="list-style-type: none;margin: 0;padding: 0;">
        <% data.map(post => { %>
         
           <li>
       
   
                  <a href="/latestpost/<%= post._id %>"> <div class="grid_container">
                       <div class="item1"><div><img class="latestnewsimg" src=<%="data:image/png;base64,"+ post.img.data.toString("base64") %> alt=""/></div></div>
                       <div class="item2"><%= post.title %><div class="lead" ><%= post.lead %>...</div>
                           <div class="ct"><span id="ct" ><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= post.createdAt.toDateString()  %></span></div>
                                   <div class="cat"><span><%= post.category[0].toUpperCase() + post.category.slice(1) %></span> </div>
                               </div>
                           </div>
                       </a>
           </li>
         <hr/>
           <% }) %>
   
       </ul>
       </div> 
   </div>
   
   
    <!--more latest news button for mobile screen_size -->
   <div id="m_lnews" class="more_set">
       <a href="/more_latestnews"><div class="more">More</div></a>
       </div>

   
    <!--Top news mobile screen_size-->
   <div class="real">
        <div id="pointer"> TOP NEWS</div>
        <div class="topnews_set">
       <div class="topnews_container" >
           <ul style="list-style-type: none;margin: 0;padding: 0;">
           <% topP.forEach(singleData => { %>
           <li >
               <div class="topnews_frame" >
                   <div class="category"><%=singleData.category%></div>
                   <a href="/toppost/<%= singleData._id %>">
                    <img class="topnewsimg" src=<%="data:image/png;base64,"+ singleData.img.data.toString("base64") %> alt=""/> 
                    <span style="font-size: 15px;font-size: 700;"><%= singleData.title %></span>
                   <div class="lead"><%= singleData.lead %>...</div>
                   <div class="ct"><span id="ct"><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= singleData.createdAt.toDateString()  %></span></div>
               </a>
               </div>
               <br/><hr style="margin-top: -8px;"/>
               </li>
                <% }) %>
           </ul>
       </div>
       </div>
       <div class="more_set">
           <a href="/more_topnews"><div class="more">More</div></a>
           </div>
           </div>
  
   <!--Entertainment-->
   <div id="mobile_category" >
   <div id="pointer"> ENTERTAINMENT</div>
   <div class="latestnews_set">
    <div class="latestnews_container">
       <ul style="list-style-type: none;margin: 0;padding: 0;">
        <% entertainmenT.forEach(post => { %>
         
           <li>
       
   
                  <a href="/entertainment/<%= post._id %>"> <div class="grid_container">
                       <div class="item1"><div><img class="latestnewsimg" src=<%="data:image/png;base64,"+ post.img.data.toString("base64") %> alt=""/></div></div>
                       <div class="item2"><%= post.title %><div class="lead" ><%= post.lead %>...</div>
                           <div class="ct"><span id="ct"><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= post.createdAt.toDateString()  %></span></div>
                               <div class="cat"><span><%= post.category[0].toUpperCase() + post.category.slice(1) %></span> </div>
                           </div>
                       </div>
                   </a>
           </li>
         <hr/>
           <% }) %>
      
       </ul>
       </div> 
   </div>
   <div class="more_set">
       <a  href="/more_entertainment"><div class="more">More</div></a>
       </div>
   
   
   <!--Educatiion-->
       <div id="pointer"> EDUCATION</div>
       <div class="latestnews_set">
        <div class="latestnews_container">
           <ul style="list-style-type: none;margin: 0;padding: 0;">
            <% educatioN.forEach(post => { %>
             
               <li>
           
       
                      <a href="/education/<%= post._id %>"> <div class="grid_container">
                           <div class="item1"><div><img class="latestnewsimg" src=<%="data:image/png;base64,"+ post.img.data.toString("base64") %> alt=""/></div></div>
                           <div class="item2"><%= post.title %><div class="lead" ><%= post.lead %>...</div>
                               <div class="ct"> <span id="ct"><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= post.createdAt.toDateString()  %></span></div>
                                <div class="cat"><span><%=  post.category[0].toUpperCase() + post.category.slice(1) %></span> </div>
                            </div>
                           </div>
                       </a>
               </li>
             <hr/>
               <% }) %>
          
           </ul>
           </div> 
       </div>
       <div class="more_set">
           <a  href="/more_education"><div class="more">More</div></a>
           </div>
   
   
   
   
   <!--Politics-->
   <div id="pointer"> POLITICS</div>
   <div class="latestnews_set">
    <div class="latestnews_container">
       <ul style="list-style-type: none;margin: 0;padding: 0;">
        <% politicS.forEach(post => { %>
         
           <li>
       
   
                   <a href="/politics/<%= post._id %>"><div class="grid_container">
                       <div class="item1"><div><img class="latestnewsimg" src=<%="data:image/png;base64,"+ post.img.data.toString("base64") %> alt=""/></div></div>
                       <div class="item2"><%= post.title %><div class="lead" ><%= post.lead %>...</div>
                           <div class="ct"><span id="ct"><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= post.createdAt.toDateString()  %></span></div>
                           <div class="cat"><span><%=  post.category[0].toUpperCase() + post.category.slice(1) %></span> </div>
                       </div>
                       </div>
                   </a>
           </li>
         <hr/>
           <% }) %>
      
       </ul>
       </div> 
   </div>
   <div class="more_set">
       <a style="color:white" href="/more_politics"><div class="more">More</div></a>
       </div>
   <!--Sports-->
   <div id="pointer"> SPORTS</div>
   <div class="latestnews_set">
    <div class="latestnews_container">
       <ul style="list-style-type: none;margin: 0;padding: 0;">
        <% sportS.forEach(post => { %>
         
           <li>
       
   
                   <a href="/sports/<%= post._id %>"><div class="grid_container">
                       <div class="item1"><div><img class="latestnewsimg" src=<%="data:image/png;base64,"+ post.img.data.toString("base64") %> alt=""/></div></div>
                       <div class="item2"><%= post.title %><div class="lead" ><%= post.lead %>...</div>
                       <div class="ct"><span id="ct"><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= post.createdAt.toDateString()  %></span></div>
                       <div class="cat"><span><%= post.category[0].toUpperCase() + post.category.slice(1) %></span> </div>
                   </div>  
                   </div>
                   </a>
           </li>
         <hr/>
           <% }) %>
      
       </ul>
       </div> 
   </div>
   <div class="more_set">
       <a href="/more_sports"><div class="more">More</div></a>
       </div>
   </div>
   
   </div>
  