<div class="post_container">
  <div class="lap_postcontainer">
     <div class="fig_con">
  <figure>
     <figcaption><h2 class="content_newsh"><%= data.title %></h2></figcaption>
     <span style="font-size: 12px;font-family: 'Newsreader', serif;"><%= data.createdAt.toDateString() %></span>
     <div class="container_img"><img id="news_photo" src=<%="data:image/png;base64,"+ data.img.data.toString("base64") %> alt=""/></div>
  </figure>
<div class="article_container"> <article>
    <span class="content_news"><%=data.body  %></span>
 </article> </div>
 
  <% if (!data.vid.data=='') { %>
   
 

<div class="vid_container">
 <video width="320" height="240"  controls>
  <source src="<%="data:video/mp4;base64,"+ data.vid.data.toString("base64") %> " type="video/mp4">
  <source src="movie.ogg" type="video/ogg">
</video>
</div>

<% } %>


</div>


        

<div class="related_con">
 <div id="pointer">Related news</div>
 <div class="rl_container">
 <div class="related_newsbody">
   <ul style="list-style-type: none;margin: 0;padding: 0; ">
   <% result.map(related => { %>
      
      <li>
  

             <a href="/education/<%= related._id %>"> <div class="grid_container">
                  <div class="item1"><div><img class="latestnewsimg" src=<%="data:image/png;base64,"+ related.img.data.toString("base64") %> alt=""/></div></div>
                  <div class="item2"><%= related.title %><div class="lead" ><%= related.lead %>...</div>
                      <div class="ct"> <span id="ct" ><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-comment"></i>0</span><span id="ct" ><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= related.createdAt.toDateString()  %></span></div>
                      <div class="cat"><span><%= related.category %></span> </div>
                    </div>
                  </div>
                  </a>
      </li>
    <hr class="horizontal"/>
      <% }) %>
   </ul>
              </div>
           </div>
        </div>
     </div>
  </div><div class="article_container"> <article>
   <span class="content_news"><%=data.body2  %></span>
</article> </div>