<div class="post_container">
  <div class="lap_postcontainer">
     <div class="fig_con">
  <figure>
     <figcaption><h2 class="content_newsh"><%= data.title %></h2></figcaption>
     <span style="font-size: 12px;font-family: 'Newsreader', serif;"><%= data.createdAt.toDateString() %></span>
     <div class="container_img"><img id="news_photo" src="/stream/<%= data.images[0].filename %>"  alt=""></div>
  </figure>
<div class="article_container"> <article>
    <span class="content_news"><%=data.body  %></span>&nbsp;
    <% if (data.link !== undefined) { %>
      <span class="link_container" style="color:red;">
         <a href="<%= data.link %>" target="_blank"><u><em>click for more info</em></u></a>
      </span>
      
      <% } %>
 </article> </div>
 
 <% if(data.images.length > 1) { %>
   <div class="container_img"><img id="news_photo" src="/stream/<%=data.images[1].filename %>" alt=""/></div>
   <% } %>
 
  <% if (data.videos[0] !== undefined) { %>
   
 

<div class="vid_container">
 <video  controls>
  <source src="/stream/<%= data.videos[0].filename %>" type="video/mp4">
</video>
</div>

<% } %>
<div class="article_container"> <article>
   <span class="content_news"><%=data.body2  %></span>
</article> </div>

</div>


        

<div class="related_con">
 <div id="pointer">Related news</div>
 <div class="rl_container">
 <div class="related_newsbody">
   <ul style="list-style-type: none;margin: 0;padding: 0; ">
   <% result.map(related => { %>
      
      <li>
  

             <a href="/toppost<%= related._id %>"> <div class="grid_container">
                  <div class="item1"><div><img class="latestnewsimg" src="/stream/<%= related.images[0].filename %>" alt=""></div></div>
                  <div class="item2"><%= related.title %><div class="lead" ><%= related.lead %>...</div>
                      <div class="ct"><span id="ct" ><i style="color:rgb(49, 48, 48); margin-right: 2px;" class="fa-solid fa-clock"></i><%= related.createdAt.toDateString()  %></span></div>
                      <div class="cat"><span><%= related.category[0].toUpperCase() + related.category.slice(1)%></span> </div>
                    </div>
                  </div>
                  </a>
      </li>
    <hr class="horizontal"/>
      <% }) %>
   </ul>
              </div>
           </div>
        </div>
     </div>
  </div>